h1{
    background-color: rgb(167, 80, 255);
    font-size: 30px;
    margin: 100x;
    padding: 50px;
    border-radius: 10px;
}

#mapache{
    background-color: rgb(71, 0, 141);
    font-size: 20px;
    margin: 80x;
    padding: 50px;
    border-radius: 10px;
}


.que_porqueria{
    background-color: rgb(36, 13, 58);
    font-size: 20px;
    margin: 80x;
    padding: 50px;
    border-radius: 10px;
}

#si{
    font-size: 1px;
    margin: 1x;
    padding: 200px;
}